<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="./css/bootstrap.min.css">
        <script src="./js/bootstrap.min.js"></script>
    </head>
    <body>
      {{ content }}
      <div class="container">
        <div class="footer">
          <div class="contact">
            <p>
              <a href="https://github.com/11th">github.com/11th</a><br />
              <a href="https://twitter.com/miroslavpetrik">twitter.com/miroslavpetrik</a><br />
            </p>
          </div>
        </div>
      </div>
    </body>
</html>
